[Desktop Entry]
Name=Testowa aplikacja HPS
Name[pl]=Testowa aplikacja HPS
GenericName=Niezbędnik harcerski
GenericName[pl]=Niezbędnik harcerski
Comment=Zawiera pomysły na zbiórki, poradniki, ciekawostki
Comment[pl]=Zawiera pomysły na zbiórki, poradniki, ciekawostki
Type=Application
Exec=HPS
Icon=com.hps.HPS
Categories=Qt;KDE;
