[Desktop Entry]
Name=Testowa aplikacja HPS
Name[pl]=Testowa aplikacja HPS
GenericName=Niezbędnik harcerski
GenericName[pl]=Niezbędnik harcerski
Comment=Zawiera pomysły na zbiórki, poradniki, ciekawostki
Comment[pl]=Zawiera pomysły na zbiórki, poradniki, ciekawostki
Type=Application
Exec=HPS
Icon=com.hps.HPS
Categories=Qt;KDE;
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=HPS
X-KDE-PluginInfo-Email=harcerzepoznajmysie@gmail.com
X-KDE-PluginInfo-Name=com.hps.HPS
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/ExampleApp.qml
