[Desktop Entry]
Name=Niezbędnik Harcerski
Name[pl]=Niezbędnik Harcerski
Comment=Aplikacja grupy "Harcerze - Poznajemy Się!"
Comment[pl]=Aplikacja grupy "Harcerze - Poznajemy Się!"

Type=Application
Exec=HPS
Icon=com.hps.HPS
Categories=Qt;KDE;
